<app-header-steps></app-header-steps>
<div class="wrapper">
    <div class="row">
        <div class="col-xs-12 title_block">
            <a routerLink="/for-whom" class="back_arrow"></a>
            <h2 class="title">What holiday?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form [formGroup]='formStepHoliday' class="radio_form">
                <div class="div" *ngFor="let item of infoAboutHoliday">

                    <div class="custom-control custom-radio" *ngFor='let itemNew of item.content'>
                        
                           {{item.id}}
                            <input 
                            id="{{itemNew.id}}" 
                            type="radio" 
                            class="custom-control-input" 
                            value="{{itemNew.value}}" 
                            name="whatHoliday" 
                            formControlName="whatHoliday"
                            >
                            <label class="custom-control-label" for="{{itemNew.id}}">{{itemNew.label}}</label>
                        
                    </div>
                </div>
                <button 
                    routerLink="/price-step" 
                    type="submit" 
                    [disabled]="form.whatHoliday.errors?.required"
                    (click)="getFormValue();"
                    class="next_step"
                    >
                    Next
                </button>
                <mat-progress-bar
                    class="progress_bar"
                    [color]="color"
                    [mode]="mode"
                    [value]="value"
                    [bufferValue]="bufferValue">
                </mat-progress-bar>
            </form>
        </div>
    </div>
</div>
