<div class="authBlock">
    <div class="wrapper">
        <div class="row">
            <h1>Registration</h1>
           
            <div class="formGroup">
                <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
            </div>
            <div class="formGroup">
                <input type="password" class="formControl" placeholder="Password" #userPwd required>
            </div>
            <button (click)="authService.SignUp(userEmail.value, userPwd.value)" class="auth_btn">Sing Up</button>
            
            <div class="formGroup">
                <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                    Continue with Google
                </button>
              </div>
            <div class="redirectToLogin">
                <span>Already have an account? <span class="redirect" routerLink="/sing-in">Login In</span></span>
            </div>
        </div>
    </div>
</div>
