.result_page.for_valentines_day{
    .banner{
        background: url(../../assets/img/product/valentynes_bg.jpg)no-repeat center;
    }
}
.result_page.for_christmas{
    .banner{
        background: url(../../assets/img/product/christmas_bg.jpg)no-repeat center;
        background-size: contain;
    }
}
.result_page.for_new_year{
    .banner{
        background: url(../../assets/img/product/valentynes_bg.jpg)no-repeat center;
        background-size: contain;
    }
}
.result_page.for_mothers_day{
    .banner{
        background: url(../../assets/img/product/mother_day.png)no-repeat center;
        background-size: contain;
        background-position: 103% -48px;
    }
}
.result_page.for_march{
    .banner{
        background: url(../../assets/img/product/spring.png)no-repeat center;
        background-size: contain;
        background-position: left;
    }
}
.result_page.for_day_strength{
    .banner{
        background: url(../../assets/img/product/valentynes_bg.jpg)no-repeat center;
        background-size: contain;
    }
}
.result_page.for_birthday{
    .banner{
        background: url(../../assets/img/product/birthday.png)no-repeat center;
        background-size: 80%;
        background-position: center -50px;
    }
}


.result_page {
    .banner{
        height: 340px;
        display: flex;
        align-items: center;
        margin-bottom: 45px;
    }
    h2.title{
        font-size: 40px;
        text-align: center;
    }
       
}